# Python virtual environment
.venv/

# Evol_Instruct_Japaneseの出力ファイル
Evol_Instruct_Japanese/output/
Evol_Instruct_Japanese/test_output/*
!Evol_Instruct_Japanese/test_output/test_eliminated.json
!Evol_Instruct_Japanese/test_output/test_generated.json

# Pythonのキャッシュファイル
Evol_Instruct_Japanese/__pycache__/

# secret
Evol_Instruct_Japanese/config/secret_config.json

# Jupyter Notebook
Evol_Instruct_Japanese/0*.ipynb